202410011615/Tdi/DspDev40/PocketKnife/Web References/WWA/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Reload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReloadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserGot">
        <s:complexType />
      </s:element>
      <s:element name="UserGotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGotResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sXmlQ" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReloadSoapIn">
    <wsdl:part name="parameters" element="tns:Reload" />
  </wsdl:message>
  <wsdl:message name="ReloadSoapOut">
    <wsdl:part name="parameters" element="tns:ReloadResponse" />
  </wsdl:message>
  <wsdl:message name="UserGotSoapIn">
    <wsdl:part name="parameters" element="tns:UserGot" />
  </wsdl:message>
  <wsdl:message name="UserGotSoapOut">
    <wsdl:part name="parameters" element="tns:UserGotResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessXmlSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessXml" />
  </wsdl:message>
  <wsdl:message name="ProcessXmlSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="MainServiceSoap">
    <wsdl:operation name="Reload">
      <wsdl:input message="tns:ReloadSoapIn" />
      <wsdl:output message="tns:ReloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGot">
      <wsdl:input message="tns:UserGotSoapIn" />
      <wsdl:output message="tns:UserGotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessXml">
      <wsdl:input message="tns:ProcessXmlSoapIn" />
      <wsdl:output message="tns:ProcessXmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainServiceSoap" type="tns:MainServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reload">
      <soap:operation soapAction="http://tempuri.org/Reload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGot">
      <soap:operation soapAction="http://tempuri.org/UserGot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessXml">
      <soap:operation soapAction="http://tempuri.org/ProcessXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainServiceSoap12" type="tns:MainServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reload">
      <soap12:operation soapAction="http://tempuri.org/Reload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGot">
      <soap12:operation soapAction="http://tempuri.org/UserGot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessXml">
      <soap12:operation soapAction="http://tempuri.org/ProcessXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="MainServiceSoap" binding="tns:MainServiceSoap">
      <soap:address location="http://test-tis/WwaAIGU/MainService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainServiceSoap12" binding="tns:MainServiceSoap12">
      <soap12:address location="http://test-tis/WwaAIGU/MainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>