202410011615/Tdi/DDSWeb/Web References/GetPaymentToken/GetPaymentToken1.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s4="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenResponse" xmlns:s3="http://www.fnx.co.il/ESB" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fnx.co.il" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenRequest" xmlns:s2="http://www.fnx.co.il/Fnx.ESB.Infra.Schemas" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenRequest" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenRequest">
  <xs:element name="PaymentToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Request">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mpiTransactionId" type="xs:string" />
              <xs:element name="mid" type="xs:string" />
              <xs:element name="terminalNumber" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</s:schema>