202410011615/Tdi/DspDev40/DspCallCG/Web References/GetPaymentToken/GetPaymentToken0.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fnx.co.il" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://www.fnx.co.il/Fnx.ESB.Infra.Schemas" xmlns:s3="http://www.fnx.co.il/ESB" xmlns:s4="http://FNX.ESB.CGCreditCard.Schemas.GetPaymentTokenResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://www.fnx.co.il/Fnx.ESB.Infra.Schemas" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="ESBServiceRequestMetadata" nillable="true" type="s2:ESBServiceRequestMetadata" />
  <s:complexType name="ESBServiceRequestMetadata">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Filter" type="s2:Filter" />
      <s:element minOccurs="0" maxOccurs="1" name="Id" type="s2:Id" />
      <s:element minOccurs="0" maxOccurs="1" name="Process" type="s2:Process" />
      <s:element minOccurs="0" maxOccurs="1" name="CallingAppInstanceTrackingId" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Interface" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Caller" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="ActivityTime" type="s:dateTime" />
      <s:element minOccurs="0" maxOccurs="1" name="ServiceInstanceId" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Workspace" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="CorrelationId" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="Filter">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="Id">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="Process">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="ProcessCode" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:Id" />
    </s:sequence>
  </s:complexType>
</s:schema>