202410011615/Tdi/DDSWeb/Web References/GetPaymentURL/GetPaymentURL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://www.fnx.co.il/ESB" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fnx.co.il" xmlns:s1="http://FNX.ESB.CGCreditCard.Schemas.CreditGurdRequestURL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s4="http://FNX.ESB.CGCreditCard.Schemas.CreditGurdResponseURL" xmlns:s2="http://www.fnx.co.il/Fnx.ESB.Infra.Schemas" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://www.fnx.co.il/ESB" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="ESBServiceResponseMetadata" type="s3:ESBServiceResponseMetadata" />
  <s:complexType name="ESBServiceResponseMetadata">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="s3:ResponseStatus" />
      <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="ResponseDescription" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="ResponseCodeOriginator" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="ServiceInstanceId" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="InstanceWFID" type="s:long" />
      <s:element minOccurs="0" maxOccurs="1" name="CorrelationId" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:simpleType name="ResponseStatus">
    <s:restriction base="s:string">
      <s:enumeration value="NotDefined" />
      <s:enumeration value="AsyncPending" />
      <s:enumeration value="DecisionPending" />
      <s:enumeration value="NotApplicable" />
      <s:enumeration value="Success" />
      <s:enumeration value="Warning" />
      <s:enumeration value="NoDataFound" />
      <s:enumeration value="BusinessError" />
      <s:enumeration value="TechnicalError" />
      <s:enumeration value="Canceled" />
    </s:restriction>
  </s:simpleType>
</s:schema>