202410011615/Tdi/DDSWeb/Web References/CodeOasis/ComtecService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qa.shirbit.co.il/ComtecInternalService/services/ComtecService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Comtec" />
  <xs:import schemaLocation="http://qa.shirbit.co.il/ComtecInternalService/services/ComtecService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" />
  <xs:import schemaLocation="http://qa.shirbit.co.il/ComtecInternalService/services/ComtecService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Requests" />
  <xs:element name="GetPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Comtec" minOccurs="0" name="request" nillable="true" type="q1:PoliciesRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" minOccurs="0" name="GetPoliciesResult" nillable="true" type="q2:PoliciesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Comtec" minOccurs="0" name="request" nillable="true" type="q3:SmsRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" minOccurs="0" name="SendSmsResult" nillable="true" type="q4:SmsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Requests" minOccurs="0" name="request" nillable="true" type="q5:ValidateTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserLoginTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" minOccurs="0" name="ValidateUserLoginTokenResult" nillable="true" type="q6:ValidateTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>