202410011615/Tdi/DDSWeb/Web References/CodeOasis/ComtecService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Responses.Comtec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qa.shirbit.co.il/ComtecInternalService/services/ComtecService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Comtec" />
  <xs:complexType name="PoliciesResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Comtec" minOccurs="0" name="Policies" nillable="true" type="q1:ArrayOfPolicyModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoliciesResponse" nillable="true" type="tns:PoliciesResponse" />
  <xs:complexType name="SmsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmsResponse" nillable="true" type="tns:SmsResponse" />
  <xs:complexType name="ValidateTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateTokenResponse" nillable="true" type="tns:ValidateTokenResponse" />
</xs:schema>