202410011615/Tdi/DDSWeb/Web References/CodeOasis/ComtecService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComtecInterfaceWS.DataObjects.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServicePassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestModel" nillable="true" type="tns:RequestModel" />
  <xs:complexType name="ValidateTokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateTokenRequest" nillable="true" type="tns:ValidateTokenRequest" />
</xs:schema>